wsdls/secureMessaging-2010/wsdl/smd-SealedMessageDelivery-Interface-2010.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://ns.electronichealth.net.au/smd/svc/SealedMessageDelivery/2010"
                  xmlns:se="http://ns.electronichealth.net.au/wsp/xsd/StandardError/2010"
                  xmlns:smsg="http://ns.electronichealth.net.au/smd/xsd/SealedMessage/2010"
                  xmlns:trsp="http://ns.electronichealth.net.au/smd/xsd/TransportResponse/2010"
                  name="SealedMessageDelivery"
                  targetNamespace="http://ns.electronichealth.net.au/smd/svc/SealedMessageDelivery/2010">
   <wsdl:types>
      <xsd:schema targetNamespace="http://ns.electronichealth.net.au/smd/svc/SealedMessageDelivery/2010"
                  elementFormDefault="qualified">
         <xsd:import namespace="http://ns.electronichealth.net.au/wsp/xsd/StandardError/2010"
                     schemaLocation="../xsd/wsp-StandardError-2010.xsd"/>
         <xsd:import namespace="http://ns.electronichealth.net.au/smd/xsd/SealedMessage/2010"
                     schemaLocation="../xsd/smd-SealedMessage-2010.xsd"/>
         <xsd:import namespace="http://ns.electronichealth.net.au/smd/xsd/TransportResponse/2010"
                     schemaLocation="../xsd/smd-TransportResponse-2010.xsd"/>
         <xsd:element name="deliver">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="message" type="smsg:SealedMessageType" minOccurs="1" maxOccurs="1"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="deliverResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="status" type="tns:DeliverStatusType" minOccurs="1" maxOccurs="1"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="deliverError" type="tns:DeliverErrorType"/>
         <xsd:simpleType name="DeliverStatusType">
            <xsd:restriction base="xsd:string">
               <xsd:enumeration value="ok"/>
               <xsd:enumeration value="duplicate"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="DeliverErrorType">
            <xsd:sequence>
               <xsd:element name="deliveryResponse" type="trsp:DeliveryResponseType" minOccurs="1"
                            maxOccurs="1"/>
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="deliverInMsg">
      <wsdl:part name="body" element="tns:deliver"/>
   </wsdl:message>
   <wsdl:message name="deliverOutMsg">
      <wsdl:part name="body" element="tns:deliverResponse"/>
   </wsdl:message>
   <wsdl:message name="deliverErrorMsg">
      <wsdl:part name="fault" element="tns:deliverError"/>
   </wsdl:message>
   <wsdl:message name="standardErrorMsg">
      <wsdl:part name="fault" element="se:standardError"/>
   </wsdl:message>
   <wsdl:portType name="SealedMessageDelivery">
      <wsdl:operation name="deliver">
         <wsdl:input message="tns:deliverInMsg"
                     wsam:Action="http://ns.electronichealth.net.au/smd/svc/SealedMessageDelivery/2010/SealedMessageDelivery/deliverRequest"/>
         <wsdl:output message="tns:deliverOutMsg"
                      wsam:Action="http://ns.electronichealth.net.au/smd/svc/SealedMessageDelivery/2010/SealedMessageDelivery/deliverResponse"/>
         <wsdl:fault name="deliverError" message="tns:deliverErrorMsg"
                     wsam:Action="http://ns.electronichealth.net.au/smd/svc/SealedMessageDelivery/2010/SealedMessageDelivery/deliver/Fault/deliverError"/>
         <wsdl:fault name="standardError" message="tns:standardErrorMsg"
                     wsam:Action="http://ns.electronichealth.net.au/smd/svc/SealedMessageDelivery/2010/SealedMessageDelivery/deliver/Fault/standardError"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>
